@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');
.contacto {
  text-align: center;
  margin: 0;
  padding: 0.5rem 0;
  color: var(--color-blanco);

  span {
    color: var(--color-azul);
  }
}

.header {
  position: fixed;
  z-index: 20;
  top: 0;
  width: 100%;
  background-color: var(--color-amarillo);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 6rem;
  gap: 3rem;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  .header-logo {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    img {
      width: 70px;
    }
    .titulo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      & p:nth-child(1) {
        font-size: 11px;
        font-weight: 700;
        color: #ffffff;
        span {
          display: block;
          font-size: 30px;
        }
      }
      & p:nth-child(2) {
        color: var(--color-negro);
        font-size: 8px;
        text-align: center;
        font-family: 'Paprika', cursive;
      }
    }
  }
  .header-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    .nav {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
      a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        i {
          font-size: 20px;
        }
      }
      a:hover {
        color: var(--color-morado);
      }
    }
  }
}

.active {
  color: var(--color-morado) !important;
}
